/.DS_Store
/g1.faa.db.dmnd
*.fasta.nhr
*.fasta.ndb
*.fasta.nin
*.fasta.nsq
*.fasta.gc
*.fasta.njs
*.fasta.not
*.fasta.nsq
*.fasta.ntf
*.fasta.nto
*.fasta.gc
*.faa.pdb
*.faa.pjs
*.faa.pot
*.faa.ptf
*.faa.pto
*.fna.ndb
*.fna.njs
*.fna.not
*.fna.ntf
*.fna.nto
*.ser
